.navigation {
    position: relative;
    width: 100%;
    padding: 0 20px 0 20px;
}

.navigation ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;

}

.navigation ul li {
    width: fit-content;
    padding: 0 10px;
    border-left: 2px solid var(--black);
}

.navigation ul li:first-child {
    padding-left: 0;
    border-left: none;
}

.navigation ul li a {
    font-size: var(--font-size);
    font-family: var(--font-family-dm-sans), sans-serif;
    color: var(--black);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
}

.navigation ul li span {
    font-size: var(--font-size);
    font-family: var(--font-family-dm-sans), sans-serif;
    color: var(--rose);
    font-weight: var(--font-weight-bold);
}