.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    background-color: rgba(190, 18, 60, 0.98);
}

.header__container {
    position: relative;
    max-width: var(--max-width-fhd);
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header__logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

}

.header__logo a img {
    width: 50px;
    height: 50px;
}

.header__logo a {
    font-size: var(--font-size-large);
    font-family: var(--font-family-dm-sans), sans-serif;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--white);
}

.header__nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.header__nav li a{
    font-size: var(--font-size-medium);
    font-family: var(--font-family-dm-sans), sans-serif;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--white);
    transition: 0.2s ease-out;
}

.header__nav li a:hover {
    color: var(--black);
    transition: 0.2s ease-out;
}

.toAdmin, .log_in_out {
    color: var(--black) !important;
}
.toAdmin:hover, .log_in_out:hover {
}
